body{
  font-family: 'Open Sans', sans-serif;
  background: #f8f8f8;
}


.directorySwiper .swiper-pagination{
  width: 100%;
  text-align: right;
  /* bottom: -5%!important;; */
  
  
}

.directorySwiper .swiper{
  overflow: visible!important;
}

.directorySwiper .swiper-button-prev ,.directorySwiper .swiper-button-next{
  display: none;

}

.directorySwiper .swiper-slide img{
  aspect-ratio: 16/12;
}


@media only screen and (min-width: 640px) {
  .swiper-slide{
    /* width: 31%!important; */
  }
  
}
